/* GENERALE */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f6f8f9;
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  background-color: white;
  border-radius: 10px;
  width: 70%;
  
  
}

.nav{
  padding: 20px 70px;
  margin: 50px auto auto;
}

.todolist{
  padding: 70px ;
  margin: 5px auto auto;
  color: #444851;
}

.list-item{
  margin: 10px 15px;
}



/* HEADER */

header{
  background-color: white;
  height: 110px;
}

.intestazione{
  width: 95%;
  padding-left: 40px;
  line-height: 110px;
}

#logo{
  width: 85px;
  vertical-align: middle;

}

#logo-text{
  font-size: 70px;
  line-height: 100px;
  vertical-align: middle;
  font-weight: bold;
  
}

/* MAIN */

hr{
  background-color: #f6f8f9;
}

.scroll-section{
  margin-top: 45px;
}

.nav .button{
  padding: 10px 15px;
  border-radius: 3px;
  border: 0;
}

.task{
  background-color:#45abea;
  color: white;
}

.section.button{
  background-color: white;
  color: gray;
  border: 1px solid gray;
}

.testo-scroll{
  font-size: 2rem;
  font-weight: bolder;
}

.list-text{
  margin-left: 10px;
  
  font-size: 23px;
}

.symbol{
  width: 29px;
  height: 29px;
  display: inline-block;
  line-height: 23px;
  text-align: center;
  
  border-radius: 50%;
  font-weight: bolder;
}

.dafare{
  color: red;
  border: 2px solid red;
}

.fatte{
  color: #7bcab7;
  border: 2px solid #7bcab7;
}

.list-button{
  color: white;
  padding: 10px 20px;
  border-radius: 18%;
  font-size: 12px;
}

.editorial{
  background-color: #45abea;
}

.mobile{
  background-color: #f29e33;
}

.recruiting{
  background-color: #64c0a9;
}

.goals{
  background-color: #9c72e4;
}

.website{
  background-color: #d863a1;
}

.sales{
  background-color: #b0c926;
}